<section class="mt-5">
    <footer class="text-center text-white bg-secondary fixed-bottom">
        <div class="text-center p-3">
            © 2024 Copyright:
            <a class="text-white" href="/">Arsen Zhamshitov SE-2203</a>
        </div>
    </footer>
</section>